* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
}

.header {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin-bottom: 20px;
}

.layout-default {
  display: flex;
  height: 80%;
}

.layout-default main {
  margin: 0 50px;
  width: 85%;
}

.contacts-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-list li {
  margin: 7px 0;
}

.aside-section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100px;
  position: relative;
  overflow-y: hidden;
}

.logo:hover {
  translate: 0 -2px;
}

.header-logo-text  { 
  fill: white;
  font-size: 45px;
  font-family: courier, arial, helvetica;
  font-weight: 900;
} 

.navigation-bar ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.navigation-bar ul li {
  margin: 0 10px;
}

hr {
  height: 30%;
  width: 1px;
  background-color: black;
  z-index: -1;
}

#__next {
  height: 100vh;
}
