:root {
  --blue-white: rgb(226 232 240);
}

* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--blue-white);
  height: 100vh;
}

.page-title {
  margin: 0 0 30px;
}

.header {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin-bottom: 20px;
}

.layout-default {
  display: flex;
  height: 80%;
}

.layout-default main {
  margin: 0 50px;
  width: 85%;
}

.contacts-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-list li {
  margin: 7px 0;
}

.aside-section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100px;
  position: relative;
  overflow-y: hidden;
}

.logo:hover {
  translate: 0 -2px;
}

.header-logo-text  { 
  fill: var(--blue-white);
  font-size: 45px;
  font-family: courier, arial, helvetica;
  font-weight: 900;
} 

.navigation-bar ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding: 0;
  list-style: none;
}

.navigation-bar ul li {
  box-sizing: border-box; 
}

.navigation-bar a {
  background-color: black;
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  color: var(--blue-white);
  box-sizing: border-box;
}

.navigation-bar a:hover {
  border: 1px solid black;
  background-color: var(--blue-white);
  color: black;
}

hr {
  background-color: black;
  height: 30%;
  width: 1px;
  z-index: -1;
}

#__next {
  height: 100vh;
}
