.projects-list {
  overflow-y: scroll;
  justify-content: center;
  grid-template-columns: minmax(100px, 500px) minmax(100px, 500px);
  column-gap: 5%;
  display: grid;
  list-style: none;
  padding: 50px 0 0;
  height: 90%;
}

.project-card-wrapper, .project-card {
  box-sizing: border-box;
  aspect-ratio: 1/0.5;
  max-width: 500px;
}

.project-card {
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
}

.project-title {
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.project-infos {
  padding: 10px 20px;
}

.project-links li {
  padding: 0;
  list-style: none;
}
