.short-description {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.short-description p {
  font-size: 22px;
}

.short-description p.short-description-text {
  max-width: 600px;
  font-weight: 800;
  text-align: justify;
}

.skills-wrapper {
  margin: 30px 0 0;
}

.skills-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 5%;
}

.skills-list li::marker{
  content: '▻ ';
}

.image-container {
  height: 400px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
}

.me {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
