.short-description {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.short-description p {
  max-width: 500px;
  font-size: 22px;
}

.skills-wrapper {
  margin: 30px 0 0;
}

.skills-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 5%;
}

.skills-list li::marker{
  content: '▻ ';
}
