.short-description {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.short-description p {
  font-size: 22px;
}

.short-description p.short-description-text {
  max-width: 600px;
  font-weight: 800;
  text-align: justify;
}

.skills-wrapper {
  margin: 30px 0 0;
}

.skills-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 5%;
}

.skills-list li::marker{
  content: '▻ ';
}

.image-container {
  height: 400px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
}

.me {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .short-description {
    margin-top: 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .short-description .text-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    align-items: center;
  }

  .skills-wrapper {
    width: 70%;
  }

  .skills-list {
    padding-left: 30px;
    grid-template-columns: 200px 100px;
  }

  .image-container {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
  }

  .me {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 650px) {

  .short-description p.short-description-text {
    max-width: 355px;
    font-size: 20px
  }
}

@media screen and (max-width: 490px) {
  .short-description p {
    font-size: 3.5vw;
  }

  .short-description p.short-description-text {
    max-width: 355px;
    font-size: 4vw;
  }

  .skills-list li {
    font-size: 3vw;
  }
}

